<li class='list-list-item'> <%=list.escape("title")%>

  <ul class='card-list'>
  <% list.cards().each(function(card) { %>
    <li> <%= card.escape("title") %> </li>
    <button class='delete-comment'> Delete </button>

  <%})%>

  </ul>


  </li>
